#mvp-top-nav-logo img {
  max-height: 50px;
}
.mvp-blog-story-img img {
  max-width: 100%;
  height: auto;
}
#mvp-foot-logo {
  display: flex;
  justify-content: space-between;
}
#mvp-foot-logo .logo {
  max-height: 50px;
}
.yandian-socials {
  display: flex;
}
.yandian-socials li.weixin {
  position: relative;
}
.yandian-socials li.weixin .qrcode {
  display: none;
  position: absolute;
  top: -120px;
  left: -45px;
  width: 120px;
  height: 120px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.yandian-socials li.weixin .qrcode img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.yandian-socials li.weixin:hover .qrcode {
  display: block;
}
.yandian-socials li img {
  height: 30px;
}
.yandian-socials li + li {
  margin-left: 1em;
}
