#mvp-foot-logo
  display flex
  justify-content space-between

  .logo
    max-height: 50px

.yandian-socials
  display flex

  li
    &.weixin
      position relative

      .qrcode
        display none
        position absolute
        top: -120px
        left -45px
        width 120px
        height 120px
        box-shadow 0 2px 2px rgba(0,0,0,.2)

        img
          width 100%
          height 100%
          border-radius 4px

      &:hover
        .qrcode
          display block

    img
      height 30px

    + li
      margin-left 1em